@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin:0px;
    padding:0px;
}  



 .page-content h1{color:black;}
 .profile h1{color:black;}


 .entete{
    padding:0 2%;
    position:sticky;
 }
body{

    margin:0;
    font-family: 'Noto', sans-serif;
    color:black;
    background-color:beige;
}

.slider{
    width: 100%;
    min-height: 80vh;
    background-color: black;
    aspect-ratio: 16/9;
    position:relative; 
}

.page-content .projects-section{
    margin-top:6%;
    max-width: 100%;
}

.page-content .projects-section h1{ 
font-family: 'Oswald' sans-serif;
text-transform:uppercase;
font-weight: 200;
font-size:2vw;
color:#313D5D;
}

.page-content .projects-section .projects {
    display:flex;
    flex-wrap:wrap;
    margin-top: 2%;
}


.page-content .projects-section .projects .project {
    max-width:195px;
    margin-right:20px;
}


.page-content .projects-section .projects .project h4{
    margin-bottom:5%;

}    

.page-content .projects-section .projects .project  .description{
font-size:10px;
}  


.page-content .projects-section .projects .project .dates {
    font-size:13px;
    color:rgb(145,145,145);
}


.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.slider-content{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}


h1{

    color: white;
    font-size: 3.5rem;
}

h2{
    font-size: 2rem;
    margin-bottom: 50px;
}

p{
    font-size:1.25rem;
    line-height: 1.5em;
}



.slider-content p{
    color:gray;
    font-size:2rem;
    font-weight: 300;
}


.section{

    padding: 100px 0;
}

.skill{
    background-color: #FFFFFF;
    border-radius:15px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center; /* Centre le contenu horizontalement */
}

.flex{
    display: flex;
}


.dark{
    background-color: black;
    color: white;
}


.text-center{
    text-align: center;
}

.skill img{
    width:100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.skill h3{
    margin-top:10px;
    color: black;
}

.grey{
    background-color: #FAFAFA;
}

nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    position:sticky;
    top:0;
    background-color: white;
    z-index: 10;
}

nav .profile{
    display : flex;
    align-items: center;
}

nav .profile img{
width: 160px;
height: 160px;
border-radius: 50%;
}

nav .profile h1 {
    font-size: 15px;
    margin-left:10px;
}

nav ul {
    display:flex;
    list-style-type: none;
}


nav ul li {
    margin-left:20px;
    cursor:pointer;
    border-bottom: 1px solid  white;
    transition: 4s ease;
}



 ul li:after{
    content:"";
    position:absolute;
    height: 2px;
    width:0;
    bottom: 0;
    background-color: #1d4ed8;
    transition:all 0.3s ease;
}

 ul li:hover::after{
    width: 1%;
}




nav ul li a {
    text-decoration: none;
    color:#313D5D;
}

.page-content{
    margin:4%;
}

.page-content header h1{
    margin:0;
    text-transform: uppercase;
    font-family:'Oswald' , sans-serif;
    font-size: 6vw;
    font-weight: 300;
}

.page-content header p {
    line-height: 30px;
    color:#818181;
}

.page-content header button {
    cursor:pointer;
    border:none;
    background-color: inherit;
    padding:0;
    font-size:15px;
    font-weight: bold;
    margin-top:20px;
    border-bottom: 1px solid #ccc;
}

.page-content header{
    max-width: 80%;
    margin-top:5%;
}


.page-content header button:hover{
    border-bottom-color: black;
    color:#ccc;
}


footer{
    margin-top:5%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: #313D5D;
    color:white;
    padding:20px;
}



footer .colonne p{
font-size:12px;
color:#FFF;
cursor: pointer;

}

.colonne h3 {
    text-decoration: underline;
    color:#F45B69;
    margin-bottom: 10%;
}

footer .colonne a {
    text-decoration: none;

    font-size:12px;
color:#FFF;
cursor: pointer;
}

.section-title h2{
    text-decoration: underline;
    color:#F45B69;
    margin-top:2%;
    margin-bottom: 2%;
}

footer .colonne p:hover {
    color:#FFFFFF
}

.container{
    padding:1rem 2rem;
}

.section-header{
    text-align: center;

}
.section-header h2 {color:#F45B69;}

.grid{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
        justify-content: center;
}
.grid-item{
   max-width: 50%;
   flex-grow:1;
   padding:1rem;
   flex-shrink: 1;
}
.skills .grid-item{
    height: auto;
}

.skills h4 .skills p{
    margin:0 0 0 0.3rem;
}

.skills{
    color:#555;
}
li{
    margin-bottom:1rem;
}
.skills li{
    background-color: #F5F5F5;
    border-left: 3px solid rgba(255,0,0,0.4);
    padding:0.9rem 0.2rem;
}
.list-unstyled{
    list-style-type: none;
    margin:0;
    padding:0;
}

.list-unstyled li p {
    font-size: 0.7em;
}

.skills .progress-bar{
    background-color: #F5F5F5;
    color:#f45b69;
    margin-bottom: 1rem;
      
}

.skills .bar{
background: #313D5D;
padding:1rem; 

}
.card img{
    width: 350px;
    height: 350px;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:4px;
text-transform: uppercase;
background-color: #FFFFFF;
}

.card-inner{
    padding:2rem;
}

.category{
    margin:0;
    font-size:1rem;
    text-transform: uppercase;
    color:rgba(255,0,0,0.7);
}

.card:hover .card_overlay{
    display:block;
}
.card_overlay a {
font-size: 4.5rem;
flex:1;
display:flex;
align-items:center;
justify-content:center;
height: 100%;
}
.card_overlay{
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    background-color: rgba(0,0,0,0.8);
    display:flex;
    align-items:center;
    justify-content:center;
    display:none;
}

.card_overlay a{
color:#F45B69;

}
.card-title{
    margin:0 0 1rem;
    font-size:1.2rem;
}

.portfolio{
    background:#F5F5F5;
}

.portfolio  .grid-item.hide{
display:none;

}    



.portfolio .grid .grid-item{
    max-width: 33.33333%;
    margin-bottom: 0;
}

.portfolio-filters .grid-item{
    max-width: 25%;
}

.portfolio-filters li a {
    display:flex;
    flex:1;
    justify-content:center;
    padding:1rem;
    background: #EEE;
    color:#333;
} 
.portfolio-filters a.active {
    color:#FFFFFF;
    background: #313D5D;
}


/* Version Pour Mobile */
@media screen  and (max-width:768px){

    .page-content p{
        font-size: 1em;
        line-height: 1%;
    }
    .container{
        padding:1%;
    }
    
 .bar{

        border-radius: 30px;
    }

    .progress-bar{border-radius: 30px;}

    .section-header h2 {
        margin-bottom: 3%;
    }
    .section-header p{
        font-size: 0.8em;
        padding:2%;
    }
    .grid-item h3 {
        text-align: center;
        color:#F45B69;
        text-decoration: underline;
        margin-bottom: 3%;
        width: 100%;
    }
    .portfolio a {
        font-size:1.4rem;
    }
    nav {
        justify-content: center;
    }

    nav ul {
        display: none;
    }

    .page-content header {
        max-width:100% ;
        margin-top:10%;
    }


    .slider{display:none;}

    .grid-item{
        max-width: 100%;
    }
    
      /* Pour les liens dans la liste */
      .portfolio-filters li {
        width: 50%; /* Afficher deux liens par ligne */
      }

    .portfolio-filters .grid-item a {
        text-decoration: none;
        font-size:0.8em;
        color:#F45B69;
    }


    .card img {
        width: 100%; /* La largeur de l'image est de 100% de la largeur de son conteneur */
        height: auto; /* La hauteur est automatiquement calculée pour maintenir les proportions de l'image */
    }

.card-inner{
    padding: 5% 2% 3% 2%;
}

    .card-inner  h3
 {
    margin-bottom: 4%;
        font-size:0.6em; 
        color:#313D5D;
        /* Réduire la taille de police pour les appareils mobiles */
    }
    .card-inner p{
        font-size: 0.5em;
        max-width: 100%;
    }

    footer{
        display:block;
    }
    .colonne h3{
        margin-top: 3%;
        margin-bottom: 3%;
    }
}

/* Version Pour Ordinateur */

@media screen  and (min-width:770px){
    .portfolio-filters .grid-item{
        max-width: 25%;
        margin-bottom: 0;
    }

    .portfolio .grid .grid-item{
        max-width: 33.3333%;
    }
}

